@charset "UTF-8";
/* CSS Document */
/* use for submenu:

.subMenu {
    float: none;
	background: #FFFFF;
    width: auto;
    height: auto;
	position:absolute;
    top: 2em;
	left: -9000em;
}

.subMenu li {
    float: none;
}

.subMenu li a {
    border-bottom: 1px solid CCCCCC;
    padding: .2em 1em;
    white-space: nowrap;
}

.subMenu li:last-child a {
    border-bottom: none;
}

.subMenu li a:hover {
    background: #FFFFFF;
    height: 2em;
    padding-top: .2em;
    top: 0;
    border-radius:0;
}

.inkcollage, .safeandeffective, .popcorn, .cupandsaucer {
	position: absolute;
	width: 50%;
	height: 50%;
	margin: 5% auto 3% auto;
  	top: 5%; left: 0; bottom: 5%; right: 0;
}

h1 {
	text-align: center;
	font-family: Futura, Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #0b0638;
	font-size: 60px; 
	background-color: white;
	border-color: #FFF4EF;
	margin: auto;
	width: 70%;
	
}

.footer {
	background-image:url()
	height: 150px;
	position:realtive;
	color: #0b0638;
	text-align: center;
	font-family: Futura, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

*/

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
	font-family: avenir;
}

header {
	color:#D3D3D3;
	font-size:50px; 
	margin-left: 5%;
	text-align: left;
}

#container {
background-color: white;
	max-width: 15000px;
	margin: 0 auto;
}

nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	
}
nav li{
		
    display:inline;
	
}
nav a{
	background-color: white;
    display:inline-block;
    padding:5px;
}

li {
    position: relative;
	
}

nav li a {
	
	text-align:center;
    line-height: 2em;
 	padding: 0 2.6em;
	text-decoration: none;
	font-family: avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color:#0b0638;
}

li a:link {
	color: #0b0638;
}

li a:hover, .topMenu > li:hover > a {
	background-color: white;
color: #E94f47;
}

.current, a:hover.current, .topMenu li:hover a.current {
background-color:white;
color: #0b0638;
cursor: default;
}

a:visited {
	color: #0b0638;
	}

.topMenu li:hover ul {
    left: 0;
	margin: 0 auto;
	max-width: 1500px;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/*For IE 6/7 (trigger has layout) */
.cf {
    zoom:1;
}

.next {
	float:right;
	margin:3%;
}

.previous {
	float:left;
	margin:3%;
}

.homesection {
	background-color: white;
	float: none;
	text-align: left;
	margin: 10% auto 2%;
	padding: 5%;
	width: 40%;
}

.homeaside {
	background-color: #FFF4EF;
	float: none;
	text-align: center;
	font-size: 85%;
	margin: auto;
	padding: 1%;
	line-height: 1.4;
	width: 35%;
}

.homeaside a {
	text-decoration: none;
	color: #E94f47;
}

.homefooter {
	background-image:url()
	position:absolute;
   bottom:0;
   width:100%;
	height: 200px;
	}


.aboutsection {
	background-color: white;
	float: left;
	text-align: left;
	font-size: 15px;
	margin: 5% 1% auto 8%;
	width: 40%;
}

.aboutsection a {
	text-decoration: none;
	color: #E94f47;
}

.aboutaside {
	background-color: #FFF4EF;
	float: left;
	font-size: 85%;
	margin: 5% 1% auto 8%;
	padding: 2.5%;
	line-height: 1.4;
	width: 25%;
}

.propic img {
	float: right;
	margin:5% 8% auto 1%;
	height: auto;
	width: 25%;
}

#services {
	background-color: #FFF4EF;
	margin-top: 25px;
	margin-bottom: 25px;
}
ol li {
	background-color: #FFF4EF;
	float: none;
	list-style:circle;
}

.aboutfooter {
	background-image:url()
	position:absolute;
   bottom:0;
   width:100%;
	height: 200px;
	}

.contactfooter {
	background-image:url()
	position:absolute;
   bottom:0;
   width:100%;
	height: 200px;
}

.contactsection {
	background-color:white;
	float: none;
	text-align: center;
	margin: 10% auto 2%;
	padding: 5%;
	width: 40%;
}

.contactaside {
	background-color: #FFF4EF;
	float: none;
	text-align: center;
	font-size: 85%;
	margin: auto;
	padding: 1%;
	line-height: 1.4;
	width: 35%;
}

.portfoliogallery {
	width: 80%;
	margin: 5% auto auto 8%;
	}
	
.portfoliofooter {
	background-image:url()
	position:absolute;
   bottom:0;
   width:100%;
	height: 200px;
}

.img {
	position: relative;
	float: left;
    width:  200px;
    height: 200px;
    margin: 2% auto auto 5%;
    overflow:hidden;
  }
  
  .img img {
  	height: auto;
 width: 200px;
 margin: 5%;
  }
  
  #resume {
	color: #30496E;
  text-align: left;
  font-family: avenir, Avant Garde, Century Gothic, AppleGothic, sans-serif;
  font-size: 16px;
}

.resume {
	width: 90%;
	margin: 0 auto;
	padding: 2%;
}

.resume ol li {
	float: none;
	padding: 5px;
	list-style: circle;
	list-style-position:inside;
	background-color:white;
}

h2 {
	font-size: 18px;
	font-weight:100;
	text-align: left;
	background-color: white;
}

h3 {
	background-color:#FFF4EF;
	height:30px;
	font-family: Futura, Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#0b0638;
	font-size: 16px;
	border-color: white;
}

blockquote {

	padding: 1%;
	background-color:white;
}

.boldtext {

	font-size:20px;
}

.italictext {
	font-style: italic;
}


section#education {
	
	text-align:left;
	text-indent:2em;
	background-color:white;
}

section#experience {
	
	text-align:left;
	text-indent: 2em;
	list-style:inside;
	background-color:white;

}

section#skills {
	
	text-align:left;
	background-color:white;
	text-indent: 2em;
}

figcaption {
	margin-left: 5%;
	}


.inkcollage, .popcorn, .cupandsaucer, .atreefalls, .butsudan, .vegprints, .futuratype, .tsod, .editions, .rlr {
	display: inline-block;
	margin: 5% 1% 5% 5%;
	padding: 20px 5px 20px 20px;
}
